:root {
  /* backgroudcolor */
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #181818;

  /* header desk  */
  --desk-bg-color-header: transparant;
  --header-a-color: #0015d6;

  /* header mobile*/
  --mobile-bg-color-header: transparant;
  --mobile--a-color: #0015d6;
  --burger-color-primary: #0338e1;
  --burger-color-secondary: #181818;

  /* buttons*/
  --button--bg-color: #ffffff;
  --button-padding: ;
  --button-gap: ;
  --button-height: ;

  --button-radius: ;
  --button-transform-animation-hover: scale(1.2);

  --button-txt-color: #181818;
  --button-txt-color-hover: #0338e1;

  /* ------- headings ------ */

  /* fonte desk */
  --h1--: "Graphik Medium", sans-serif;
  --h2--: "Graphik Regular", sans-serif;
  --h3--: "Graphik Light", sans-serif;
  --h4--: "Graphik Light", sans-serif;
  --h5--: "Graphik Light", sans-serif;
  --p--: "Graphik Light", sans-serif;
  --a--: "Graphik Medium", sans-serif;
  --nav--: "Graphik Light", sans-serif;
  --CTA--: "Graphik Regular", sans-serif;
  --caption--: "Graphik Regular Italic", sans-serif;

  /* hover */
  --a--hover-primary: underline;
  --a--hover-secondary: italic;
  /* kan man lave border top og bottom her? */
  --button-hover-primary: ;
  --button-hover-color: #0338e1;

  /* font-sizes */

  --h1-size--: clamp(1.875rem, 1.5rem + 1.875vw, 3.75rem);
  --h2-size--: clamp(1.625rem, 1.325rem + 1.5vw, 3.125rem);
  --h3--size-: clamp(1.438rem, 1.2256rem + 1.062vw, 2.5rem);
  --h4-size--: clamp(1.25rem, 1.0624rem + 0.9380000000000002vw, 2.188rem);
  --h5-size--: clamp(1.125rem, 0.975rem + 0.75vw, 1.875rem);
  --p-size--: clamp(1.125rem, 1.0124rem + 0.563vw, 1.688rem);
  --a-size--: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
  --button-size--: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);

  --p--lineheight: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);

  /* font-colors */
  --h1--color-primary: #181818;
  --h1--color-secondary: #ffffff;

  --h2--color-primary: #181818;
  --h2--color-secondary: #ffffff;

  --h3--color-primary: #181818;
  --h3--color-secondary: #ffffff;

  --h4--color-primary: #181818;
  --h4--color-secondary: #ffffff;

  --h5--color-primary: #181818;
  --h5--color-secondary: #ffffff;

  --p--color-primary: #181818;
  --p--color-secondary: #ffffff;

  --a--color-primary: #181818;
  --a--color-secondary: #ffffff;

  /* margin headings */
  --h1--margin-bottom: ;
  --heading--margin-bottom: ;
  --p--margin-bottom: ;
  --p--margin-top: ;

  /*---- GENERELLE REGLER mobil  390 --------*/
  --margin-inline-mobil: ;
  --margin-bottom-mobil: ;

  /*---- GENERELLE REGLER ipad mini 640 --------*/
  --margin-inline-ipadmini: ;
  --margin-bottom-ipadmini: ;

  /*---- GENERELLE REGLER ipad  768 --------*/
  --margin-inline-ipad: ;
  --margin-bottom-ipad: ;

  /*---- GENERELLE REGLER desk 1024 --------*/
  --margin-inline-desk--lille: 1;
  --margin-bottom-desk--lille: ;

  /*---- GENERELLE REGLER desk 1280 --------*/
  --margin-inline-desk: 1;
  --margin-bottom-desk: ;

  /*---- IMG REGLER--------*/
  --img-shadow: ;
}

/*---------------------------------------------------------- FONT FACE -----------------------------------------------------*/

@font-face {
  font-family: "Graphik Medium";
  src: url("./font/graphik-medium-webfont.woff");
}

@font-face {
  font-family: "Graphik Regular";
  src: url("./font/graphik-regular-webfont.woff");
}

@font-face {
  font-family: "Graphik Regular Italic";
  src: url("./font/graphik-regular_italic-webfont.woff");
}

@font-face {
  font-family: "Graphik Light";
  src: url("./font/graphik-light-webfont.woff");
}

/*-------------------------------------------------------- GENERELLE REGGLER ----------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main {
  margin-inline: 0.5rem;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
}

/*----------------------------- General tekst --------------------------------*/

h1 {
  font-family: var(--h1--);
  font-size: var(--h1-size--);
  color: var(--h1--color-primary);
}

h2 {
  font-family: var(--h2--);
  font-size: var(--h2-size--);
  color: var(--h2--color-primary);
}

h3 {
  font-family: var(--h3--);
  font-size: var(--h3-size--);
  color: var(--h3--color-primary);
}

h4 {
  font-family: var(--h4--);
  font-size: var(--h4-size--);
  color: var(--h4--color-primary);
}

h5 {
  font-family: var(--h5--);
  font-size: var(--h5-size--);
  color: var(--h5--color-primary);
}

p {
  font-family: var(--p--);
  font-size: var(--p-size--);
  color: var(--p--color-primary);
}

a {
  font-family: var(--a--);
  font-size: var(--a-size--);
  color: var(--a--color-primary);
  text-decoration: none;
}

/*------------------- Button -----------------------*/

button {
  font-family: var(--button-txt-color);
  font-size: var(--button-size--);
  color: var(--button--color-primary);
  background-color: var(--button--bg-color);
}

button:hover {
  color: var(--button-txt-color-hover);
  animation: var(--button-transform-animation-hover);
}

/*--------------------------------------------------------- MENU ----------------------------------------------------*/
li {
  list-style: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;
}

/* .nav-logo {
} */

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: var(--mobile--a-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
/*--------------------------------------------------------- FOOTER ----------------------------------------------------*/

#footer_allaround {
  border-top: 1px solid black;
}

.footer_div_links ul {
  list-style: none;
  padding: 0;
}

/*---------------------------------------------------------- GRID MOBILE -------------------------------------------------------*/

.background_grid_tablet,
.background_grid_desktop {
  display: none;
}

.background_grid_mobile {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.background_grid_mobile .grid-item,
.background_grid_tablet .grid-item,
.background_grid_desktop .grid-item {
  border-right: 1px solid black;
}

.background_grid_mobile .grid-item-1,
.background_grid_tablet .grid-item-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/*--------------------- grid section1 --------------------*/

.forside_section1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.forside_section1_h1 {
  grid-column: 1/4;
}

.forside_section1_tekst_cta {
  grid-column: 1/3;
}

.forside_section1_image {
  grid-column: 2/4;
}

/*--------------------- grid section2 --------------------*/

.forside_section2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.forside_section2_h2 {
  grid-column: 1/4;
}

.forside_section2_image {
  grid-column: 1/3;
}

.forside_section2_tekst {
  grid-column: 2/4;
}

/*--------------------- grid section3 --------------------*/

.forside_section3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-column: 1/4; */
}

.forside_section3_video_figcaption {
  grid-column: 1/4;
}

@media (min-width: 768px) {
  /*---------------------------------------------------------- GRID TABLET -------------------------------------------------------*/
  .background_grid_mobile,
  .background_grid_desktop {
    display: none;
  }

  .background_grid_tablet {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden;
  }
}

@media (min-width: 1260px) {
  /*---------------------------------------------------------- GRID TABLET -------------------------------------------------------*/
  #main {
    margin-inline: 0rem;
    position: relative;
  }

  .background_grid_mobile,
  .background_grid_tablet {
    display: none;
  }

  .background_grid_desktop {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    overflow: hidden;
  }

  .background_grid_desktop .grid-item-1 {
    border-right: 1px solid black;
  }
}

@media (max-width: 1536px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin-block: 2rem;
  }

  .nav-menu.active {
    left: 0;
  }
}
