:root {
  /* backgroudcolor */
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #181818;

    /* header desk  */
  --desk-bg-color-header: transparant;
  --header-a-color: #0015D6;

  /* header mobile*/
  --mobile-bg-color-header: transparant;
  --mobile--a-color: #0015D6;
  --burger-color-primary: #0338e1;
  --burger-color-secondary: #181818;

  /* buttons*/
  --button--bg-color: #ffffff;
  --button-padding: ;
  --button-gap: ;
  --button-height: ;

  --button-radius: ;
  --button-transform-animation-hover: scale(1.2);

  --button-txt-color: #181818;
  --button-txt-color-hover: #0338e1;

  /* ------- headings ------ */

  /* fonte desk */
  --h1--: "Graphik Medium", sans-serif;
  --h2--: "Graphik Regular", sans-serif;
  --h3--: "Graphik Light", sans-serif;
  --h4--: "Graphik Light", sans-serif;
  --h5--: "Graphik Light", sans-serif;
  --p--: "Graphik Light", sans-serif;
  --a--: "Graphik Medium", sans-serif;
  --nav--: "Graphik Light", sans-serif;
  --CTA--: "Graphik Regular", sans-serif;
  --caption--: "Graphik Regular Italic", sans-serif;

  /* hover */
  --a--hover-primary: underline;
  --a--hover-secondary: italic;
  /* kan man lave border top og bottom her? */  --button-hover-primary: ;
  --button-hover-color: #0338e1;

  /* font-sizes */


  --h1-size--: clamp(1.875rem, 1.5rem + 1.875vw, 3.75rem) ;
  --h2-size--: clamp(1.625rem, 1.325rem + 1.5vw, 3.125rem);
  --h3--size-: clamp(1.438rem, 1.2256rem + 1.062vw, 2.5rem);
  --h4-size--: clamp(1.25rem, 1.0624rem + 0.9380000000000002vw, 2.188rem);
  --h5-size--: clamp(1.125rem, 0.975rem + 0.75vw, 1.875rem);
  --p-size--: clamp(1.125rem, 1.0124rem + 0.563vw, 1.688rem);
  --a-size--: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
  --button-size--: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
 

  --p--lineheight: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);


  /* font-colors */
  --h1--color-primary: #181818;
  --h1--color-secondary: #FFFFFF;

  --h2--color-primary: #181818;
  --h2--color-secondary: #FFFFFF;
 

  --h3--color-primary: #181818;
  --h3--color-secondary: #FFFFFF;


  --h4--color-primary: #181818;
  --h4--color-secondary: #FFFFFF;


  --h5--color-primary: #181818;
  --h5--color-secondary: #FFFFFF;
 

  --p--color-primary: #181818;
  --p--color-secondary: #FFFFFF;


  --a--color-primary: #181818;
  --a--color-secondary: #FFFFFF;


  /* margin headings */
  --h1--margin-bottom: ;
  --heading--margin-bottom: ;
  --p--margin-bottom: ;
  --p--margin-top: ;

  /*---- GENERELLE REGLER mobil  390 --------*/
  --margin-inline-mobil: ;
  --margin-bottom-mobil: ;

  /*---- GENERELLE REGLER ipad mini 640 --------*/
  --margin-inline-ipadmini: ;
  --margin-bottom-ipadmini: ;

  /*---- GENERELLE REGLER ipad  768 --------*/
  --margin-inline-ipad: ;
  --margin-bottom-ipad: ;

  /*---- GENERELLE REGLER desk 1024 --------*/
  --margin-inline-desk--lille: 1;
  --margin-bottom-desk--lille: ;

  /*---- GENERELLE REGLER desk 1280 --------*/
  --margin-inline-desk: 1;
  --margin-bottom-desk: ;

  /*---- IMG REGLER--------*/
  --img-shadow: ;
}

@font-face {
    font-family: "Graphik Medium";
    src: url('./font/graphik-medium-webfont.woff');
} 

@font-face {
    font-family: "Graphik Regular";
    src: url('./font/graphik-regular-webfont.woff');
} 

@font-face {
    font-family: "Graphik Regular Italic";
    src: url('./font/graphik-regular_italic-webfont.woff');
} 

@font-face {
    font-family: "Graphik Light";
    src: url('./font/graphik-light-webfont.woff');
} 


#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-inline: 0.5rem;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;

}

#footer_allaround {
  border-top: 1px solid black;
}

.footer_div_links ul {
  list-style: none;
  padding: 0;
}

.background_grid_mobile {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}
.background_grid_mobile .grid-item {
  border-right: 1px solid black;
}

.background_grid_mobile .grid-item-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.indhold_grid_mobile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/4;
}

.forside_h1 {
  grid-column: 1/4;
}

.forside_boks {
  grid-column: 1/3;
}

/* .background_grid_mobile .grid-item:last-child {
  border-right: none;
} */

.background_grid_tablet,
.background_grid_desktop {
  display: none;
}
