:root {
  /* backgroudcolor */
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #181818;

  /* gridcolor */
  --primary-grid-color: rgba(153, 153, 153, 0.3);
  --secondary-grid-color: #181818;

  /* header desk  */
  --desk-bg-color-header: transparant;
  --header-a-color: #0015d6;

  /* header mobile*/
  --mobile-bg-color-header: transparant;
  --mobile--a-color: #0015d6;
  --burger-color-primary: #0338e1;
  --burger-color-secondary: #181818;

  /* buttons*/
  --button--bg-color: #ffffff;
  --button-padding: 0.2rem;
  --button-gap: ;
  --button-height: ;

  --button-radius: ;
  --button-transform-animation-hover: scale(1.2);

  --button-txt-color: #181818;
  --button-txt-color-hover: #0338e1;

  /* ------- headings ------ */

  /* fonte desk */
  --h1--: "Graphik Medium", sans-serif;
  --h2--: "Graphik Regular", sans-serif;
  --h3--: "Graphik Light", sans-serif;
  --h4--: "Graphik Light", sans-serif;
  --h5--: "Graphik Light", sans-serif;
  --p--: "Graphik Light", sans-serif;
  --a--: "Graphik Medium", sans-serif;
  --nav--: "Graphik Light", sans-serif;
  --CTA--: "Graphik Regular", sans-serif;
  --caption--: "Graphik Regular Italic", sans-serif;

  /* hover */
  --a--hover-primary: underline;
  --a--hover-secondary: italic;
  /* kan man lave border top og bottom her? */
  --button-hover-primary: ;
  --button-hover-color: #0338e1;

  /* font-sizes */

  --h1-size--: clamp(1.875rem, 1.5rem + 1.875vw, 3.75rem);
  --h2-size--: clamp(1.625rem, 1.325rem + 1.5vw, 3.125rem);
  --h3--size-: clamp(1.438rem, 1.2256rem + 1.062vw, 2.5rem);
  --h4-size--: clamp(1.25rem, 1.0624rem + 0.9380000000000002vw, 2.188rem);
  --h5-size--: clamp(1.125rem, 0.975rem + 0.75vw, 1.875rem);
  --p-size--: clamp(1.125rem, 1.0124rem + 0.563vw, 1.688rem);
  --a-size--: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
  --button-size--: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);

  --p--lineheight: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);

  /* font-colors */
  --h1--color-primary: #181818;
  --h1--color-secondary: #ffffff;

  --h2--color-primary: #181818;
  --h2--color-secondary: #ffffff;

  --h3--color-primary: #181818;
  --h3--color-secondary: #ffffff;

  --h4--color-primary: #181818;
  --h4--color-secondary: #ffffff;

  --h5--color-primary: #181818;
  --h5--color-secondary: #ffffff;

  --p--color-primary: #181818;
  --p--color-secondary: #ffffff;

  --a--color-primary: #181818;
  --a--color-secondary: #ffffff;

  /* margin headings */
  --h1--margin-bottom: ;
  --heading--margin-bottom: ;
  --p--margin-bottom: ;
  --p--margin-top: ;

  /*---- GENERELLE REGLER mobil  390 --------*/
  --margin-inline-mobil: ;
  --margin-bottom-mobil: ;

  /*---- GENERELLE REGLER ipad mini 640 --------*/
  --margin-inline-ipadmini: ;
  --margin-bottom-ipadmini: ;

  /*---- GENERELLE REGLER ipad  768 --------*/
  --margin-inline-ipad: ;
  --margin-bottom-ipad: ;

  /*---- GENERELLE REGLER desk 1024 --------*/
  --margin-inline-desk--lille: 1;
  --margin-bottom-desk--lille: ;

  /*---- GENERELLE REGLER desk 1280 --------*/
  --margin-inline-desk: 1;
  --margin-bottom-desk: ;

  /*---- IMG REGLER--------*/
  --img-shadow: ;
}

/*---------------------------------------------------------- FONT FACE -----------------------------------------------------*/

@font-face {
  font-family: "Graphik Medium";
  src: url("./font/graphik-medium-webfont.woff");
}

@font-face {
  font-family: "Graphik Regular";
  src: url("./font/graphik-regular-webfont.woff");
}

@font-face {
  font-family: "Graphik Regular Italic";
  src: url("./font/graphik-regular_italic-webfont.woff");
}

@font-face {
  font-family: "Graphik Light";
  src: url("./font/graphik-light-webfont.woff");
}

/*---------------------------------------------------------- GENERELLE REGGLER -----------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main {
  margin-inline: 0.5rem;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
}

/*----------------------------- General tekst --------------------------------*/

h1 {
  font-family: var(--h1--);
  font-size: var(--h1-size--);
  color: var(--h1--color-primary);
}

h2 {
  font-family: var(--h2--);
  font-size: var(--h2-size--);
  color: var(--h2--color-primary);
}

h3 {
  font-family: var(--h3--);
  font-size: var(--h3-size--);
  color: var(--h3--color-primary);
}

h4 {
  font-family: var(--h4--);
  font-size: var(--h4-size--);
  color: var(--h4--color-primary);
}

h5 {
  font-family: var(--h5--);
  font-size: var(--h5-size--);
  color: var(--h5--color-primary);
}

p {
  font-family: var(--p--);
  font-size: var(--p-size--);
  color: var(--p--color-primary);
}

a {
  font-family: var(--a--);
  font-size: var(--a-size--);
  color: var(--a--color-primary);
  text-decoration: none;
}

/*----------------------------- Button --------------------------------*/

/* button {
  font-family: var(--CTA--);
  font-size: var(--button-size--);
  color: var(--button--color-primary);
  background-color: var(--button--bg-color);
} */

.button {
  font-family: var(--CTA--);
  background-color: var(--button--bg-color);
  padding: var(--button-padding);
  margin-left: 0.05rem;
}

.button:hover {
  color: var(--button-txt-color-hover);
  animation: var(--button-transform-animation-hover);
  border-block: solid 1px var(--button-txt-color-hover);
}

/*---------------------------------------------------------- MENU ------------------------------------------------------*/

li {
  list-style: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;
  border-bottom: 1px solid #999999;
}

.container-logo {
  height: 80px;
  width: 100px;
}

.nav-logo {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}

.nav-menu {
  z-index: 100;
}

.nav-item {
  margin-block: 4rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

/*---------------------------------------------------------- FOOTER ----------------------------------------------------*/

#footer_allaround {
  border-top: 1px solid black;
}

.footer_div_links ul {
  list-style: none;
  padding: 0;
}

/*---------------------------------------------------------- GRID ------------------------------------------------------*/

.background_grid_tablet,
.background_grid_desktop {
  display: none;
}

.background_grid_mobile {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

/*--------------------- Grid generelt --------------------*/

.background_grid_mobile .grid-item,
.background_grid_tablet .grid-item,
.background_grid_desktop .grid-item {
  border-right: 1px solid var(--primary-grid-color);
}

.background_grid_mobile .grid-item-1,
.background_grid_tablet .grid-item-1 {
  border-left: 1px solid var(--primary-grid-color);
  border-right: 1px solid var(--primary-grid-color);
}

/*---------------------------------------------------------- FORSIDE ---------------------------------------------------*/

/*--------------------- grid section1 --------------------*/

.forside_section1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.forside_section1_hero {
  grid-column: 1/4;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

/*--------------------- grid section2 --------------------*/

.forside_section2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4rem;
}

.forside_section2_h1 {
  grid-column: 1/4;
}

.forside_section2_tekst_cta {
  grid-column: 1/3;
  margin-top: 1.5rem;
}

.forside_section2_cta {
  margin-top: 1rem;
}

.forside_section2_image_links {
  grid-column: 2/4;
  margin-top: 1.5rem;
}

.forside_section2_links {
  text-align: end;
}

/*--------------------- grid section3 --------------------*/

.forside_section3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 6rem;
}

.forside_section3_h2 {
  grid-column: 1/4;
}

.forside_section3_image {
  grid-column: 1/3;
  margin-top: 1.5rem;
}

.forside_section3_tekst {
  grid-column: 2/4;
  margin-top: 1.5rem;
}

/*--------------------- grid section4 --------------------*/

.forside_section4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 6rem;
  padding-bottom: 6rem;
}

.forside_section4_video {
  grid-column: 1/4;
  width: 100%;
  height: 100%;
}

.forside_section4_video_figcaption {
  grid-column: 1/4;
}

/*---------------------------------------------------------- EVENTS ----------------------------------------------------*/

/*--------------------- grid section1 --------------------*/
.events_section1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4rem;
}

.events_section1_h1,
.events_section1_tekst,
.events_section1_image {
  grid-column: 1/4;
}

/*--------------------- grid section2 --------------------*/
.events_section2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4rem;
}

.events_section2_h2 {
  grid-column: 1/4;
  margin-bottom: 2rem;
}

.events_section2_boks1,
.events_section2_boks2 {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/*---------- grid section2_boks1/boks2 ---------*/

.events_section2_boks1_h3,
.events_section2_boks2_h3 {
  grid-column: 1/4;
}

.events_section2_boks1_div1,
.events_section2_boks2_div1,
.events_section2_boks2_div3 {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
}

.events_section2_boks1_div2,
.events_section2_boks2_div2,
.events_section2_boks2_div4 {
  grid-column: 1/4;
  border-top: 1px solid black;
  padding-block: 0.4rem;
  margin-top: 2rem;
}

.events_section2_boks1_div1_tekst,
.events_section2_boks2_div1_tekst,
.events_section2_boks2_div3_tekst {
  grid-column: 2/4;
}

/*--------------------- grid section3 --------------------*/
.events_section3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4rem;
}

.events_section3_h2 {
  grid-column: 1/4;
}

.events_section3_div1,
.events_section3_div2,
.events_section3_div3,
.events_section3_div4 {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
}

.events_section3_div1 h3,
.events_section3_div1 img {
  grid-column: 1/3;
}

.events_section3_div1 p {
  grid-column: 2/4;
}

.events_section3_div2 h3 {
  text-align: end;
  grid-column: 1/4;
}

.events_section3_div2 img {
  grid-column: 2/4;
}

.events_section3_div3 h3 {
  grid-column: 1/4;
}

.events_section3_div3 img {
  grid-column: 1/3;
}

.events_section3_div4 h3 {
  text-align: end;
  grid-column: 1/4;
}

.events_section3_div4 img {
  grid-column: 2/4;
}

.events_section3_div4 p {
  grid-column: 1/4;
}

/*---------------------------------------------------------- TEAM ------------------------------------------------------*/

/*--------------------- grid section1 --------------------*/
.team_section1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4rem;
}

.team_section1_h1,
.team_section1_image,
.team_section1_tekst {
  grid-column: 1/4;
}

/*--------------------- grid section2 --------------------*/
.team_section2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4rem;
}

.team_section2_div1,
.team_section2_div2,
.team_section2_div3 {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.team_section2_div1_h2,
.team_section2_div2_h2,
.team_section2_div3_h2 {
  grid-column: 1/4;
}

.team_section2_div1_tekst,
.team_section2_div2_tekst,
.team_section2_div3_tekst {
  grid-column: 2/4;
}

.team_section2_div1_cta,
.team_section2_div2_cta,
.team_section2_div3_cta {
  grid-column: 2/3;
}

/*---------------------------------------------------------- GUIDE -----------------------------------------------------*/

/*--------------------- grid section1 --------------------*/
.guide_section1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4rem;
}

/*--------------------- grid section2 --------------------*/
/*--------------------- grid section3 --------------------*/
/*--------------------- grid section4 --------------------*/
/*--------------------- grid section5 --------------------*/
.guide_section2,
.guide_section3,
.guide_section4,
.guide_section5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.guide_section1 h1,
.guide_section2 h2,
.guide_section3 h2,
.guide_section4 h2,
.guide_section5 h2 {
  grid-column: 1/4;
}

.guide_section1 p,
.guide_section2 h3,
.guide_section3 h3,
.guide_section4 h3,
.guide_section5 h3 {
  grid-column: 1/4;
}

.guide_section2 ul,
.guide_section3 ul,
.guide_section4 ul,
.guide_section5 ol {
  grid-column: 2/4;
  padding-top: 1rem;
}

.guide_section2_li,
.guide_section3_li,
.guide_section4_li,
.guide_section5_li {
  padding-bottom: 0.8rem;
}

/*--------------------- grid section6 --------------------*/
.guide_section6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.guide_section6 h3 {
  grid-column: 1/3;
  padding-bottom: 1rem;
}

.guide_section6 a {
  grid-column: 1/2;
}

/*---------------------------------------------------------- GET IN TOUCH ----------------------------------------------*/
/*---------------------------------------------------------- 404 -------------------------------------------------------*/
.notfound_section1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.notfound_section1_h1 {
  grid-column: 1/4;
}

.notfound_section1_h2 {
  grid-column: 1/4;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  /*---------------------------------------------------------- GENERELLE REGGLER -----------------------------------------*/
  #main {
    margin-inline: 1rem;
  }
  /*---------------------------------------------------------- MENU ------------------------------------------------------*/
  /*---------------------------------------------------------- FOOTER ----------------------------------------------------*/
  /*---------------------------------------------------------- GRID ------------------------------------------------------*/

  .background_grid_mobile,
  .background_grid_desktop {
    display: none;
  }

  .background_grid_tablet {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    overflow: hidden;
  }

  /*---------------------------------------------------------- FORSIDE ---------------------------------------------------*/
  .forside_section4 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .forside_section4_video_figcaption {
    grid-column: 2/6;
  }

  /*---------------------------------------------------------- EVENTS ----------------------------------------------------*/

  /*--------------------- grid section1 --------------------*/
  .events_section1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .events_section1_h1 {
    grid-column: 2/5;
  }

  .events_section1_tekst {
    grid-column: 2/7;
  }

  .events_section1_image {
    grid-column: 2/7;
  }

  /*--------------------- grid section2 --------------------*/
  .events_section2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 4rem;
  }

  .events_section2_h2 {
    grid-column: 1/7;
    margin-bottom: 2rem;
  }

  .events_section2_boks1,
  .events_section2_boks2 {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  /*---------- grid section2_boks1/boks2 ---------*/

  .events_section2_boks1_h3,
  .events_section2_boks2_h3 {
    grid-column: 1/7;
    margin-top: 2rem;
  }

  .events_section2_boks1_div1,
  .events_section2_boks2_div1,
  .events_section2_boks2_div3 {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 2rem;
  }

  .events_section2_boks1_div1 h4 {
    grid-column: 1/2;
  }

  .events_section2_boks1_div2,
  .events_section2_boks2_div2,
  .events_section2_boks2_div4 {
    grid-column: 1/7;
    border-top: 1px solid black;
    padding-block: 0.4rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .events_section2_boks1_div1_tekst,
  .events_section2_boks2_div1_tekst,
  .events_section2_boks2_div3_tekst {
    grid-column: 2/7;
  }

  /*--------------------- grid section3 --------------------*/

  .events_section3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 4rem;
  }

  .events_section3_h2 {
    grid-column: 1/7;
  }

  .events_section3_div1,
  .events_section3_div2,
  .events_section3_div3,
  .events_section3_div4 {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 2rem;
  }

  .events_section3_div1 h3,
  .events_section3_div1 img {
    grid-column: 2/5;
  }

  .events_section3_div1 p {
    grid-column: 3/6;
  }

  .events_section3_div2 h3 {
    text-align: left;
    grid-column: 1/2;
  }

  .events_section3_div2 img {
    grid-column: 1/4;
  }

  .events_section3_div3 h3 {
    text-align: end;
    grid-column: 6/7;
  }

  .events_section3_div3 img {
    grid-column: 4/7;
  }

  .events_section3_div4 h3 {
    text-align: left;
    grid-column: 2/3;
  }

  .events_section3_div4 img {
    grid-column: 2/4;
  }

  .events_section3_div4 p {
    grid-column: 2/5;
  }

  /*---------------------------------------------------------- TEAM ------------------------------------------------------*/

  /*--------------------- grid section1 --------------------*/
  .team_section1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .team_section1_h1 {
    grid-column: 2/5;
  }

  .team_section1_tekst {
    grid-column: 2/7;
  }

  .team_section1_image {
    grid-column: 2/7;
  }

  /*--------------------- grid section2 --------------------*/

  .team_section2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 4rem;
  }

  .team_section2_div1,
  .team_section2_div2,
  .team_section2_div3 {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .team_section2_div1_h2,
  .team_section2_div2_h2,
  .team_section2_div3_h2 {
    grid-column: 1/3;
  }

  .team_section2_div1_tekst,
  .team_section2_div2_tekst,
  .team_section2_div3_tekst {
    grid-column: 2/6;
  }

  .team_section2_div1_cta,
  .team_section2_div2_cta,
  .team_section2_div3_cta {
    grid-column: 2/3;
  }

  /*---------------------------------------------------------- GUIDE -----------------------------------------------------*/

  /*--------------------- grid section1 --------------------*/
  /*--------------------- grid section2 --------------------*/
  /*--------------------- grid section3 --------------------*/
  /*--------------------- grid section4 --------------------*/
  /*--------------------- grid section5 --------------------*/
  .guide_section2,
  .guide_section3,
  .guide_section4,
  .guide_section5 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .guide_section2 h2,
  .guide_section3 h2,
  .guide_section4 h2,
  .guide_section5 h2 {
    grid-column: 2/6;
  }

  .guide_section2 h3,
  .guide_section3 h3,
  .guide_section4 h3,
  .guide_section5 h3 {
    grid-column: 2/5;
  }

  .guide_section2 ul,
  .guide_section3 ul,
  .guide_section4 ul,
  .guide_section5 ol {
    grid-column: 3/5;
  }

  /*--------------------- grid section6 --------------------*/

  /*---------------------------------------------------------- GET IN TOUCH ----------------------------------------------*/
  /*---------------------------------------------------------- 404 -------------------------------------------------------*/
}

@media (min-width: 1024px) {
  /*---------------------------------------------------------- GENERELLE REGGLER -----------------------------------------*/
  #main {
    margin-inline: 1rem;
  }
  /*---------------------------------------------------------- MENU ------------------------------------------------------*/
  /*---------------------------------------------------------- FOOTER ----------------------------------------------------*/
  /*---------------------------------------------------------- GRID ------------------------------------------------------*/

  .background_grid_mobile,
  .background_grid_desktop {
    display: none;
  }

  .background_grid_tablet {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    overflow: hidden;
  }

  /*---------------------------------------------------------- FORSIDE ---------------------------------------------------*/

  /*--------------------- grid section2 --------------------*/

  .forside_section2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: 0.5fr 1fr; */
  }

  .forside_section2_h1 {
    grid-column: 1/7;
    grid-row: 1/2;
  }

  .forside_section2_tekst_cta {
    grid-column: 1/4;
    grid-row: 2/3;
    max-width: 100ch;
  }

  .forside_section2_tekst_cta .test {
    max-width: 100ch;
    padding-bottom: 2rem;
    margin-right: 2rem;
  }

  .forside_section2_image_links {
    grid-column: 4/6;
  }

  /*--------------------- grid section3 --------------------*/

  .forside_section3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: 0.5fr 1fr 0.5fr; */
  }

  .forside_section3_h2 {
    grid-column: 2/7;
  }

  .forside_section3_image {
    grid-column: 2/5;
  }

  .forside_section3_tekst {
    grid-column: 3/6;
  }

  /*--------------------- grid section4 --------------------*/

  .forside_section4 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .forside_section4_video_figcaption {
    grid-column: 4/7;
  }

  /*---------------------------------------------------------- EVENTS ----------------------------------------------------*/

  /*--------------------- grid section2 --------------------*/

  /*---------- grid section2_boks1/boks2 ---------*/

  .events_section2_boks1_h3,
  .events_section2_boks2_h3 {
    grid-column: 1/3;
    margin-top: 2rem;
  }

  .events_section2_boks1_div1,
  .events_section2_boks2_div1,
  .events_section2_boks2_div3 {
    grid-column: 3/7;
    grid-template-columns: repeat(4, 1fr);
  }

  .events_section2_boks1_div2,
  .events_section2_boks2_div2,
  .events_section2_boks2_div4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .events_section2_boks1_div1_tekst,
  .events_section2_boks2_div1_tekst,
  .events_section2_boks2_div3_tekst {
    grid-column: 1/5;
    margin-top: 0.5rem;
  }

  .events_section3_div2 img {
    grid-column: 1/3;
  }

  /*---------------------------------------------------------- TEAM ------------------------------------------------------*/

  /*--------------------- grid section2 --------------------*/

  .team_section2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 4rem;
  }
  .team_section2_div1 {
    grid-column: 1/2;
  }

  .team_section2_div2 {
    grid-column: 2/3;
  }

  .team_section2_div3 {
    grid-column: 3/4;
  }

  .team_section2_div1_tekst,
  .team_section2_div2_tekst,
  .team_section2_div3_tekst {
    grid-column: 1/6;
  }

  .team_section2_div1_cta,
  .team_section2_div2_cta,
  .team_section2_div3_cta {
    grid-column: 1/4;
  }
  /*---------------------------------------------------------- GUIDE -----------------------------------------------------*/

  /*--------------------- grid section1 --------------------*/

  .guide_section1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .guide_section1 h1 {
    grid-column: 2/6;
  }

  .guide_section1 p {
    grid-column: 2/7;
  }

  /*--------------------- grid section2 --------------------*/
  /*--------------------- grid section3 --------------------*/
  /*--------------------- grid section4 --------------------*/
  /*--------------------- grid section5 --------------------*/
  /*--------------------- grid section6 --------------------*/

  .guide_section6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .guide_section6 h3 {
    grid-column: 2/5;
  }

  .guide_section6 a {
    grid-column: 2/3;
  }

  /*---------------------------------------------------------- GET IN TOUCH ----------------------------------------------*/
  /*---------------------------------------------------------- 404 -------------------------------------------------------*/
  .notfound_section1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .notfound_section1_h1 {
    grid-column: 2/6;
  }

  .notfound_section1_h2 {
    grid-column: 2/6;
    margin-top: 1.5rem;
  }
}

@media (min-width: 1280px) {
  /*---------------------------------------------------------- GENERELLE REGGLER -----------------------------------------*/
  #main {
    margin-inline: 1rem;
  }

  /*---------------------------------------------------------- MENU ------------------------------------------------------*/
  /*---------------------------------------------------------- FOOTER ----------------------------------------------------*/
  /*---------------------------------------------------------- GRID ------------------------------------------------------*/
  .background_grid_mobile,
  .background_grid_desktop {
    display: none;
  }

  .background_grid_tablet {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    overflow: hidden;
  }

  .background_grid_desktop .grid-item-1 {
    border-right: 1px solid black;
  }

  /*---------------------------------------------------------- FORSIDE ---------------------------------------------------*/
  /*---------------------------------------------------------- EVENTS ----------------------------------------------------*/
  /*---------------------------------------------------------- TEAM ------------------------------------------------------*/
  /*---------------------------------------------------------- GUIDE -----------------------------------------------------*/

  /*--------------------- grid section1 --------------------*/

  .guide_section1 h1 {
    grid-column: 2/7;
  }

  /*---------------------------------------------------------- GET IN TOUCH ----------------------------------------------*/
  /*---------------------------------------------------------- 404 -------------------------------------------------------*/
  .notfound_section1_h1 {
    grid-column: 2/7;
  }
}

@media (max-width: 1536px) {
  /*---------------------------------------------------------- MENU ------------------------------------------------------*/
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 81px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-link {
    transition: 0.7s ease;
  }

  .nav-link:hover {
    color: var(--mobile--a-color);
    text-decoration: overline;
  }

  .nav-menu.active {
    left: 0;
  }
}

/*---------------------------------------------------------- GENERELLE REGGLER -----------------------------------------*/
/*---------------------------------------------------------- MENU ------------------------------------------------------*/
/*---------------------------------------------------------- FOOTER ----------------------------------------------------*/
/*---------------------------------------------------------- GRID ------------------------------------------------------*/
/*---------------------------------------------------------- FORSIDE ---------------------------------------------------*/
/*---------------------------------------------------------- EVENTS ----------------------------------------------------*/
/*---------------------------------------------------------- TEAM ------------------------------------------------------*/
/*---------------------------------------------------------- GUIDE -----------------------------------------------------*/
/*---------------------------------------------------------- GET IN TOUCH ----------------------------------------------*/
/*---------------------------------------------------------- 404 -------------------------------------------------------*/
